*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightcyan;
}

h1{
    text-align: center;
    margin-top: 40px;
}
.main{
    margin-top: 3%;
    margin-left: 33%;
}

.colorChange{
    width: 500px;
    height: 500px;
    border: 2px solid black;
}

.main input{
    padding: 10px 15px;
    font-size: 14px;
}

.main button{
    height: 41px;
    width: 80px;
    margin-left: 2px;
    font-size: 12px;
    font-weight: 600;
}

.main button:hover{
    box-shadow: 0 0 10px blue;
}